//mixins for all components:

@mixin all-Buttons($width,$fontSize) {
    width: $width;
    background-color: #B13D22;
    border: 1px solid #2E282A;
    text-align: center;
    font-size: $fontSize;
    border-radius: 2rem;
    padding: 0.4rem;
    color: #EDB88B;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

};

body {
    background-color: #EAFCDA;
}

@media screen and (max-width: 420px){
 .main-img{
     width: 100% !important;
     height: auto !important;
    }
    .mainButton{
        width: 60vw !important;
        font-size: 1rem !important;
        
       
    }

    .main-title{
        font-size: 1.5rem !important;
        margin-top: -20vh !important;
        padding: 1vw !important;
    }
    .mainPage{
        p{
            font-size: 1rem !important;
            padding: 1vw !important;
        }
    }

    .resultContainer{
        width: 80%;
        box-shadow: none !important;
    }

    .progress-wrapper{
        progress{
            margin-top: 15vh !important;
        }
    }



}
@media screen and (max-width: 750px) {
    .progress-wrapper{
        progress{
            margin-top: 15vh !important;
        }
    }
    .main-img{
       
        width: 100% !important;
        height: auto !important;
       }

       .questions-wrapper{
        h2{
            
                font-size: 1.3rem;
                text-align: center;
                padding: 1rem;
                margin-bottom: 20% !important;
        
       }
       ol{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -10rem !important;
       }

       .questions-buttons{
           width: 100% !important;
           margin-top:1.3rem !important;
           .questinBt{
               width: 50%;
           }
       }
}
}
